# direnv
.direnv

# verilog builds
.build

#
# icecube2
#
# from:
# https://github.com/npetersen2/iCE40_Template/blob/master/.gitignore
#
.vdbs
*.log
*.log.bak
*.tcl
*.twr
*_prim.v
*.arearep
xxx_lse_cp_file_list
xxx_lse_sign_file
*.prd
*.rpt
*_Implmnt

#
# Kicad ignores
#
# Adapted from:
# https://github.com/github/gitignore/blob/master/KiCad.gitignore

# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*.kicad_prl
*.sch-bak
*~
_autosave-*
*auto_saved_files*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
*-backups
*.lck
/build

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Footprint association file (exported from Pcbnew)
*.cmp

# Exported BOM files
production
*.xml
*.csv
*.tsv

# Misc
*.log
*.raw
.svg2shenzhen-cache
