set_io clk_i 21

set_io led1_o 1
set_io led2_o 2

set_io UART_RX 3
set_io UART_TX 4

set_io AB_01 112
set_io AB_02 107
set_io AB_03 105
set_io AB_04 102
set_io AB_05 110
set_io AB_06 106
set_io AB_07 104
set_io AB_08 101

set_io AB_PINS[0] 112
set_io AB_PINS[1] 107
set_io AB_PINS[2] 105
set_io AB_PINS[3] 102
set_io AB_PINS[4] 110
set_io AB_PINS[5] 106
set_io AB_PINS[6] 104
set_io AB_PINS[7] 101

set_io CD_01 99
set_io CD_02 97
set_io CD_03 95
set_io CD_04 93
set_io CD_05 98
set_io CD_06 96
set_io CD_07 94
set_io CD_08 91

set_io CD_PINS[0] 99
set_io CD_PINS[1] 97
set_io CD_PINS[2] 95
set_io CD_PINS[3] 93
set_io CD_PINS[4] 98
set_io CD_PINS[5] 96
set_io CD_PINS[6] 94
set_io CD_PINS[7] 91

set_io EF_01 90
set_io EF_02 87
set_io EF_03 84
set_io EF_04 82
set_io EF_05 88
set_io EF_06 85
set_io EF_07 83
set_io EF_08 81

set_io EF_PINS[0] 90
set_io EF_PINS[1] 87
set_io EF_PINS[2] 84
set_io EF_PINS[3] 82
set_io EF_PINS[4] 88
set_io EF_PINS[5] 85
set_io EF_PINS[6] 83
set_io EF_PINS[7] 81

set_io GH_01 80
set_io GH_02 78
set_io GH_03 75
set_io GH_04 73
set_io GH_05 79
set_io GH_06 76
set_io GH_07 74
set_io GH_08 62

set_io GH_PINS[0] 80
set_io GH_PINS[1] 78
set_io GH_PINS[2] 75
set_io GH_PINS[3] 73
set_io GH_PINS[4] 79
set_io GH_PINS[5] 76
set_io GH_PINS[6] 74
set_io GH_PINS[7] 62

set_io IJ_01 61
set_io IJ_02 56
set_io IJ_03 52
set_io IJ_04 48
set_io IJ_05 60
set_io IJ_06 55
set_io IJ_07 49
set_io IJ_08 47

set_io IJ_PINS[0] 61
set_io IJ_PINS[1] 56
set_io IJ_PINS[2] 52
set_io IJ_PINS[3] 48
set_io IJ_PINS[4] 60
set_io IJ_PINS[5] 55
set_io IJ_PINS[6] 49
set_io IJ_PINS[7] 47

set_io KL_01 45
set_io KL_02 43
set_io KL_03 41
set_io KL_04 38
set_io KL_05 44
set_io KL_06 42
set_io KL_07 39
set_io KL_08 37

set_io KL_PINS[0] 45
set_io KL_PINS[1] 43
set_io KL_PINS[2] 41
set_io KL_PINS[3] 38
set_io KL_PINS[4] 44
set_io KL_PINS[5] 42
set_io KL_PINS[6] 39
set_io KL_PINS[7] 37

set_io BA_01 134
set_io BA_02 129
set_io BA_03 125
set_io BA_04 122
set_io BA_05 130
set_io BA_06 128
set_io BA_07 124
set_io BA_08 121

set_io BA_PINS[0] 134
set_io BA_PINS[1] 129
set_io BA_PINS[2] 125
set_io BA_PINS[3] 122
set_io BA_PINS[4] 130
set_io BA_PINS[5] 128
set_io BA_PINS[6] 124
set_io BA_PINS[7] 121

set_io DC_01 120
set_io DC_02 118
set_io DC_04 116
set_io DC_03 114
set_io DC_05 119
set_io DC_06 117
set_io DC_07 115
set_io DC_08 113

set_io DC_PINS[0] 120
set_io DC_PINS[1] 118
set_io DC_PINS[2] 116
set_io DC_PINS[3] 114
set_io DC_PINS[4] 119
set_io DC_PINS[5] 117
set_io DC_PINS[6] 115
set_io DC_PINS[7] 113

set_io HG_01 144
set_io HG_02 8
set_io HG_03 10
set_io HG_04 12
set_io HG_05 7
set_io HG_06 9
set_io HG_07 11
set_io HG_08 15

set_io HG_PINS[0] 144
set_io HG_PINS[1] 8
set_io HG_PINS[2] 10
set_io HG_PINS[3] 12
set_io HG_PINS[4] 7
set_io HG_PINS[5] 9
set_io HG_PINS[6] 11
set_io HG_PINS[7] 15

set_io LK_01 25
set_io LK_02 28
set_io LK_03 31
set_io LK_04 33
set_io LK_05 26
set_io LK_06 29
set_io LK_07 33
set_io LK_08 34

set_io LK_PINS[0] 25
set_io LK_PINS[1] 28
set_io LK_PINS[2] 31
set_io LK_PINS[3] 33
set_io LK_PINS[4] 26
set_io LK_PINS[5] 29
set_io LK_PINS[6] 33
set_io LK_PINS[7] 34

# template
#set_io xx_01
#set_io xx_05
#set_io xx_02
#set_io xx_06
#set_io xx_03
#set_io xx_07
#set_io xx_04
#set_io xx_08

set_io PIN1 1
set_io PIN2 2
set_io PIN3 3
set_io PIN4 4
set_io PIN7 7
set_io PIN8 8
set_io PIN9 9
set_io PIN10 10
set_io PIN11 11
set_io PIN12 12
set_io PIN15 15
set_io PIN16 16
set_io PIN17 17
set_io PIN18 18
set_io PIN19 19
set_io PIN20 20
set_io PIN21 21
set_io PIN22 22
set_io PIN23 23
set_io PIN24 24
set_io PIN25 25
set_io PIN26 26
set_io PIN28 28
set_io PIN29 29
set_io PIN31 31
set_io PIN32 32
set_io PIN33 33
set_io PIN34 34
set_io PIN37 37
set_io PIN38 38
set_io PIN39 39
set_io PIN41 41
set_io PIN42 42
set_io PIN43 43
set_io PIN44 44
set_io PIN45 45
set_io PIN47 47
set_io PIN48 48
set_io PIN49 49
set_io PIN52 52
set_io PIN55 55
set_io PIN56 56
set_io PIN60 60
set_io PIN61 61
set_io PIN62 62
set_io PIN63 63
set_io PIN64 64
set_io PIN67 67
set_io PIN68 68
set_io PIN70 70
set_io PIN71 71
set_io PIN73 73
set_io PIN74 74
set_io PIN75 75
set_io PIN76 76
set_io PIN78 78
set_io PIN79 79
set_io PIN80 80
set_io PIN81 81
set_io PIN82 82
set_io PIN83 83
set_io PIN84 84
set_io PIN85 85
set_io PIN87 87
set_io PIN88 88
set_io PIN90 90
set_io PIN91 91
set_io PIN93 93
set_io PIN94 94
set_io PIN95 95
set_io PIN96 96
set_io PIN97 97
set_io PIN98 98
set_io PIN99 99
set_io PIN101 101
set_io PIN102 102
set_io PIN104 104
set_io PIN105 105
set_io PIN106 106
set_io PIN107 107
set_io PIN110 110
set_io PIN112 112
set_io PIN113 113
set_io PIN114 114
set_io PIN115 115
set_io PIN116 116
set_io PIN117 117
set_io PIN118 118
set_io PIN119 119
set_io PIN120 120
set_io PIN121 121
set_io PIN122 122
set_io PIN124 124
set_io PIN125 125
set_io PIN128 128
set_io PIN129 129
set_io PIN130 130
set_io PIN134 134
set_io PIN135 135
set_io PIN136 136
set_io PIN137 137
set_io PIN138 138
set_io PIN139 139
set_io PIN141 141
set_io PIN142 142
set_io PIN143 143
set_io PIN144 144
