set_io CLK J3
set_io LED1 H11
set_io LED2 G12
set_io UART_RX J12
set_io UART_TX J11

set_io L_A_01 R1
set_io L_A_02 P1
set_io L_A_03 M2
set_io L_A_04 L1
set_io L_A_05 P2
set_io L_A_06 N2
set_io L_A_07 M1
set_io L_A_08 K1

set_io L_A[0] R1
set_io L_A[1] P1
set_io L_A[2] M2
set_io L_A[3] L1
set_io L_A[4] P2
set_io L_A[5] N2
set_io L_A[6] M1
set_io L_A[7] K1

set_io L_B_01 J2
set_io L_B_02 H2
set_io L_B_03 G2
set_io L_B_04 F1
set_io L_B_05 J1
set_io L_B_06 H1
set_io L_B_07 G1
set_io L_B_08 F2

set_io L_B[0] J2
set_io L_B[1] H2
set_io L_B[2] G2
set_io L_B[3] F1
set_io L_B[4] J1
set_io L_B[5] H1
set_io L_B[6] G1
set_io L_B[7] F2

set_io L_C_01 E2
set_io L_C_02 D2
set_io L_C_03 C2
set_io L_C_04 F7
set_io L_C_05 D1
set_io L_C_06 C1
set_io L_C_07 B1
set_io L_C_08 B2

set_io L_C[0] E2
set_io L_C[1] D2
set_io L_C[2] C2
set_io L_C[3] F7
set_io L_C[4] D1
set_io L_C[5] C1
set_io L_C[6] B1
set_io L_C[7] B2

set_io L_D_01 A1
set_io L_D_02 B3
set_io L_D_03 B5
set_io L_D_04 B6
set_io L_D_05 A2
set_io L_D_06 B4
set_io L_D_07 A5
set_io L_D_08 A6

set_io L_D[0] A1
set_io L_D[1] B3
set_io L_D[2] B5
set_io L_D[3] B6
set_io L_D[4] A2
set_io L_D[5] B4
set_io L_D[6] A5
set_io L_D[7] A6

set_io L_E_01 N3
set_io L_E_02 L4
set_io L_E_03 L3
set_io L_E_04 K3
set_io L_E_05 L5
set_io L_E_06 M3
set_io L_E_07 K4
set_io L_E_08 J5

set_io L_E[0] N3
set_io L_E[1] L4
set_io L_E[2] L3
set_io L_E[3] K3
set_io L_E[4] L5
set_io L_E[5] M3
set_io L_E[6] K4
set_io L_E[7] J5

set_io L_F_01 H5
set_io L_F_02 H4
set_io L_F_03 G4
set_io L_F_04 F3
set_io L_F_05 J4
set_io L_F_06 H3
set_io L_F_07 G3
set_io L_F_08 F4

set_io L_F[0] H5
set_io L_F[1] H4
set_io L_F[2] G4
set_io L_F[3] F3
set_io L_F[4] J4
set_io L_F[5] H3
set_io L_F[6] G3
set_io L_F[7] F4

set_io L_G_01 B7
set_io L_G_02 B8
set_io L_G_03 A9
set_io L_G_04 A10
set_io L_G_05 A7
set_io L_G_06 B9
set_io L_G_07 B10
set_io L_G_08 B11

set_io L_G[0] B7
set_io L_G[1] B8
set_io L_G[2] A9
set_io L_G[3] A10
set_io L_G[4] A7
set_io L_G[5] B9
set_io L_G[6] B10
set_io L_G[7] B11

set_io L_H_01 A11
set_io L_H_02 B13
set_io L_H_03 B14
set_io L_H_04 B15
set_io L_H_05 B12
set_io L_H_06 C13
set_io L_H_07 A15
set_io L_H_08 A16

set_io L_H[0] A11
set_io L_H[1] B13
set_io L_H[2] B14
set_io L_H[3] B15
set_io L_H[4] B12
set_io L_H[5] C13
set_io L_H[6] A15
set_io L_H[7] A16

set_io L_I_01 C3
set_io L_I_02 C4
set_io L_I_03 C5
set_io L_I_04 C6
set_io L_I_05 D4
set_io L_I_06 D5
set_io L_I_07 D6
set_io L_I_08 D7

set_io L_I[0] C3
set_io L_I[1] C4
set_io L_I[2] C5
set_io L_I[3] C6
set_io L_I[4] D4
set_io L_I[5] D5
set_io L_I[6] D6
set_io L_I[7] D7

set_io L_J_01 C11
set_io L_J_02 D13
set_io L_J_03 E9
set_io L_J_04 E11
set_io L_J_05 C12
set_io L_J_06 C14
set_io L_J_07 E10
set_io L_J_08 F9

set_io L_J[0] C11
set_io L_J[1] D13
set_io L_J[2] E9
set_io L_J[3] E11
set_io L_J[4] C12
set_io L_J[5] C14
set_io L_J[6] E10
set_io L_J[7] F9

set_io L_K_01 D11
set_io L_K_02 D10
set_io L_K_03 D9
set_io L_K_04 D8
set_io L_K_05 C10
set_io L_K_06 C9
set_io L_K_07 C8
set_io L_K_08 C7

set_io L_K[0] D11
set_io L_K[1] D10
set_io L_K[2] D9
set_io L_K[3] D8
set_io L_K[4] C10
set_io L_K[5] C9
set_io L_K[6] C8
set_io L_K[7] C7

set_io L_L_01 D3
set_io L_L_02 E5
set_io L_L_03 G5
set_io L_L_04 E3
set_io L_L_05 E6
set_io L_L_06 F5
set_io L_L_07 E4
set_io L_L_08 H6

set_io L_L[0] D3
set_io L_L[1] E5
set_io L_L[2] G5
set_io L_L[3] E3
set_io L_L[4] E6
set_io L_L[5] F5
set_io L_L[6] E4
set_io L_L[7] H6

set_io L_PMOD_A[0] R1
set_io L_PMOD_A[1] P1
set_io L_PMOD_A[2] M2
set_io L_PMOD_A[3] L1
set_io L_PMOD_A[4] P2
set_io L_PMOD_A[5] N2
set_io L_PMOD_A[6] M1
set_io L_PMOD_A[7] K1

set_io L_PMOD_B[0] J2
set_io L_PMOD_B[1] H2
set_io L_PMOD_B[2] G2
set_io L_PMOD_B[3] F1
set_io L_PMOD_B[4] J1
set_io L_PMOD_B[5] H1
set_io L_PMOD_B[6] G1
set_io L_PMOD_B[7] F2

set_io L_PMOD_C[0] E2
set_io L_PMOD_C[1] D2
set_io L_PMOD_C[2] C2
set_io L_PMOD_C[3] F7
set_io L_PMOD_C[4] D1
set_io L_PMOD_C[5] C1
set_io L_PMOD_C[6] B1
set_io L_PMOD_C[7] B2

set_io L_PMOD_D[0] A1
set_io L_PMOD_D[1] B3
set_io L_PMOD_D[2] B5
set_io L_PMOD_D[3] B6
set_io L_PMOD_D[4] A2
set_io L_PMOD_D[5] B4
set_io L_PMOD_D[6] A5
set_io L_PMOD_D[7] A6

set_io L_PMOD_E[0] N3
set_io L_PMOD_E[1] L4
set_io L_PMOD_E[2] L3
set_io L_PMOD_E[3] K3
set_io L_PMOD_E[4] L5
set_io L_PMOD_E[5] M3
set_io L_PMOD_E[6] K4
set_io L_PMOD_E[7] J5

set_io L_PMOD_F[0] H5
set_io L_PMOD_F[1] H4
set_io L_PMOD_F[2] G4
set_io L_PMOD_F[3] F3
set_io L_PMOD_F[4] J4
set_io L_PMOD_F[5] H3
set_io L_PMOD_F[6] G3
set_io L_PMOD_F[7] F4

set_io L_PMOD_G[0] B7
set_io L_PMOD_G[1] B8
set_io L_PMOD_G[2] A9
set_io L_PMOD_G[3] A10
set_io L_PMOD_G[4] A7
set_io L_PMOD_G[5] B9
set_io L_PMOD_G[6] B10
set_io L_PMOD_G[7] B11

set_io L_PMOD_H[0] A11
set_io L_PMOD_H[1] B13
set_io L_PMOD_H[2] B14
set_io L_PMOD_H[3] B15
set_io L_PMOD_H[4] B12
set_io L_PMOD_H[5] C13
set_io L_PMOD_H[6] A15
set_io L_PMOD_H[7] A16

set_io L_PMOD_I[0] C3
set_io L_PMOD_I[1] C4
set_io L_PMOD_I[2] C5
set_io L_PMOD_I[3] C6
set_io L_PMOD_I[4] D4
set_io L_PMOD_I[5] D5
set_io L_PMOD_I[6] D6
set_io L_PMOD_I[7] D7

set_io L_PMOD_J[0] C11
set_io L_PMOD_J[1] D13
set_io L_PMOD_J[2] E9
set_io L_PMOD_J[3] E11
set_io L_PMOD_J[4] C12
set_io L_PMOD_J[5] C14
set_io L_PMOD_J[6] E10
set_io L_PMOD_J[7] F9

set_io L_PMOD_K[0] D11
set_io L_PMOD_K[1] D10
set_io L_PMOD_K[2] D9
set_io L_PMOD_K[3] D8
set_io L_PMOD_K[4] C10
set_io L_PMOD_K[5] C9
set_io L_PMOD_K[6] C8
set_io L_PMOD_K[7] C7

set_io L_PMOD_L[0] D3
set_io L_PMOD_L[1] E5
set_io L_PMOD_L[2] G5
set_io L_PMOD_L[3] E3
set_io L_PMOD_L[4] E6
set_io L_PMOD_L[5] F5
set_io L_PMOD_L[6] E4
set_io L_PMOD_L[7] H6

set_io L_PMOD[0] R1
set_io L_PMOD[1] P1
set_io L_PMOD[2] M2
set_io L_PMOD[3] L1
set_io L_PMOD[4] P2
set_io L_PMOD[5] N2
set_io L_PMOD[6] M1
set_io L_PMOD[7] K1
set_io L_PMOD[8] J2
set_io L_PMOD[9] H2
set_io L_PMOD[10] G2
set_io L_PMOD[11] F1
set_io L_PMOD[12] J1
set_io L_PMOD[13] H1
set_io L_PMOD[14] G1
set_io L_PMOD[15] F2
set_io L_PMOD[16] E2
set_io L_PMOD[17] D2
set_io L_PMOD[18] C2
set_io L_PMOD[19] F7
set_io L_PMOD[20] D1
set_io L_PMOD[21] C1
set_io L_PMOD[22] B1
set_io L_PMOD[23] B2
set_io L_PMOD[24] A1
set_io L_PMOD[25] B3
set_io L_PMOD[26] B5
set_io L_PMOD[27] B6
set_io L_PMOD[28] A2
set_io L_PMOD[29] B4
set_io L_PMOD[30] A5
set_io L_PMOD[31] A6
set_io L_PMOD[32] N3
set_io L_PMOD[33] L4
set_io L_PMOD[34] L3
set_io L_PMOD[35] K3
set_io L_PMOD[36] L5
set_io L_PMOD[37] M3
set_io L_PMOD[38] K4
set_io L_PMOD[39] J5
set_io L_PMOD[40] H5
set_io L_PMOD[41] H4
set_io L_PMOD[42] G4
set_io L_PMOD[43] F3
set_io L_PMOD[44] J4
set_io L_PMOD[45] H3
set_io L_PMOD[46] G3
set_io L_PMOD[47] F4
set_io L_PMOD[48] B7
set_io L_PMOD[49] B8
set_io L_PMOD[50] A9
set_io L_PMOD[51] A10
set_io L_PMOD[52] A7
set_io L_PMOD[53] B9
set_io L_PMOD[54] B10
set_io L_PMOD[55] B11
set_io L_PMOD[56] A11
set_io L_PMOD[57] B13
set_io L_PMOD[58] B14
set_io L_PMOD[59] B15
set_io L_PMOD[60] B12
set_io L_PMOD[61] C13
set_io L_PMOD[62] A15
set_io L_PMOD[63] A16
set_io L_PMOD[64] C3
set_io L_PMOD[65] C4
set_io L_PMOD[66] C5
set_io L_PMOD[67] C6
set_io L_PMOD[68] D4
set_io L_PMOD[69] D5
set_io L_PMOD[70] D6
set_io L_PMOD[71] D7
set_io L_PMOD[72] C11
set_io L_PMOD[73] D13
set_io L_PMOD[74] E9
set_io L_PMOD[75] E11
set_io L_PMOD[76] C12
set_io L_PMOD[77] C14
set_io L_PMOD[78] E10
set_io L_PMOD[79] F9
set_io L_PMOD[80] D11
set_io L_PMOD[81] D10
set_io L_PMOD[82] D9
set_io L_PMOD[83] D8
set_io L_PMOD[84] C10
set_io L_PMOD[85] C9
set_io L_PMOD[86] C8
set_io L_PMOD[87] C7
set_io L_PMOD[88] D3
set_io L_PMOD[89] E5
set_io L_PMOD[90] G5
set_io L_PMOD[91] E3
set_io L_PMOD[92] E6
set_io L_PMOD[93] F5
set_io L_PMOD[94] E4
set_io L_PMOD[95] H6

set_io L_ADC_CLK_TO_ADC E5
set_io L_ADC_CLK_TO_FPGA F5
set_io L_ADC_RED C3
set_io L_ADC_GRN D3
set_io L_ADC_BLU E6

set_io L_ADC_X_01 G3
set_io L_ADC_X_02 G4
set_io L_ADC_X_03 N3
set_io L_ADC_X_04 L5
set_io L_ADC_X_05 L4
set_io L_ADC_X_06 M3
set_io L_ADC_X_07 K4
set_io L_ADC_X_08 L3
set_io L_ADC_X_09 J5
set_io L_ADC_X_10 K3

set_io L_ADC_X[0] G3
set_io L_ADC_X[1] G4
set_io L_ADC_X[2] N3
set_io L_ADC_X[3] L5
set_io L_ADC_X[4] L4
set_io L_ADC_X[5] M3
set_io L_ADC_X[6] K4
set_io L_ADC_X[7] L3
set_io L_ADC_X[8] J5
set_io L_ADC_X[9] K3

set_io L_ADC_Y_01 J4
set_io L_ADC_Y_02 H5
set_io L_ADC_Y_03 H3
set_io L_ADC_Y_04 H4
set_io L_ADC_Y_05 F3
set_io L_ADC_Y_06 F4
set_io L_ADC_Y_07 H6
set_io L_ADC_Y_08 E3
set_io L_ADC_Y_09 E4
set_io L_ADC_Y_10 G5

set_io L_ADC_Y[0] J4
set_io L_ADC_Y[1] H5
set_io L_ADC_Y[2] H3
set_io L_ADC_Y[3] H4
set_io L_ADC_Y[4] F3
set_io L_ADC_Y[5] F4
set_io L_ADC_Y[6] H6
set_io L_ADC_Y[7] E3
set_io L_ADC_Y[8] E4
set_io L_ADC_Y[9] G5

set_io L_SRAM_CS_N A1
set_io L_SRAM_OE_N M2
set_io L_SRAM_WE_N A7

set_io L_SRAM_ADDR_BUS_01 B2
set_io L_SRAM_ADDR_BUS_02 F7
set_io L_SRAM_ADDR_BUS_03 B1
set_io L_SRAM_ADDR_BUS_04 C2
set_io L_SRAM_ADDR_BUS_05 C1
set_io L_SRAM_ADDR_BUS_06 R1
set_io L_SRAM_ADDR_BUS_07 P2
set_io L_SRAM_ADDR_BUS_08 P1
set_io L_SRAM_ADDR_BUS_09 N2
set_io L_SRAM_ADDR_BUS_10 G1
set_io L_SRAM_ADDR_BUS_11 F1
set_io L_SRAM_ADDR_BUS_12 F2
set_io L_SRAM_ADDR_BUS_13 E2
set_io L_SRAM_ADDR_BUS_14 D1
set_io L_SRAM_ADDR_BUS_15 D2
set_io L_SRAM_ADDR_BUS_16 A10
set_io L_SRAM_ADDR_BUS_17 B10
set_io L_SRAM_ADDR_BUS_18 A9
set_io L_SRAM_ADDR_BUS_19 B9
set_io L_SRAM_ADDR_BUS_20 B8

set_io L_SRAM_ADDR_BUS[0] B2
set_io L_SRAM_ADDR_BUS[1] F7
set_io L_SRAM_ADDR_BUS[2] B1
set_io L_SRAM_ADDR_BUS[3] C2
set_io L_SRAM_ADDR_BUS[4] C1
set_io L_SRAM_ADDR_BUS[5] R1
set_io L_SRAM_ADDR_BUS[6] P2
set_io L_SRAM_ADDR_BUS[7] P1
set_io L_SRAM_ADDR_BUS[8] N2
set_io L_SRAM_ADDR_BUS[9] G1
set_io L_SRAM_ADDR_BUS[10] F1
set_io L_SRAM_ADDR_BUS[11] F2
set_io L_SRAM_ADDR_BUS[12] E2
set_io L_SRAM_ADDR_BUS[13] D1
set_io L_SRAM_ADDR_BUS[14] D2
set_io L_SRAM_ADDR_BUS[15] A10
set_io L_SRAM_ADDR_BUS[16] B10
set_io L_SRAM_ADDR_BUS[17] A9
set_io L_SRAM_ADDR_BUS[18] B9
set_io L_SRAM_ADDR_BUS[19] B8

set_io L_SRAM_DATA_BUS_01 A2
set_io L_SRAM_DATA_BUS_02 B3
set_io L_SRAM_DATA_BUS_03 B4
set_io L_SRAM_DATA_BUS_04 B5
set_io L_SRAM_DATA_BUS_05 A5
set_io L_SRAM_DATA_BUS_06 B6
set_io L_SRAM_DATA_BUS_07 A6
set_io L_SRAM_DATA_BUS_08 B7
set_io L_SRAM_DATA_BUS_09 G2
set_io L_SRAM_DATA_BUS_10 H1
set_io L_SRAM_DATA_BUS_11 H2
set_io L_SRAM_DATA_BUS_12 J1
set_io L_SRAM_DATA_BUS_13 J2
set_io L_SRAM_DATA_BUS_14 K1
set_io L_SRAM_DATA_BUS_15 L1
set_io L_SRAM_DATA_BUS_16 M1

set_io L_SRAM_DATA_BUS[0] A2
set_io L_SRAM_DATA_BUS[1] B3
set_io L_SRAM_DATA_BUS[2] B4
set_io L_SRAM_DATA_BUS[3] B5
set_io L_SRAM_DATA_BUS[4] A5
set_io L_SRAM_DATA_BUS[5] B6
set_io L_SRAM_DATA_BUS[6] A6
set_io L_SRAM_DATA_BUS[7] B7
set_io L_SRAM_DATA_BUS[8] G2
set_io L_SRAM_DATA_BUS[9] H1
set_io L_SRAM_DATA_BUS[10] H2
set_io L_SRAM_DATA_BUS[11] J1
set_io L_SRAM_DATA_BUS[12] J2
set_io L_SRAM_DATA_BUS[13] K1
set_io L_SRAM_DATA_BUS[14] L1
set_io L_SRAM_DATA_BUS[15] M1

set_io L_SRAM_256_A_OE_N F7
set_io L_SRAM_256_A_WE_N G1

set_io L_SRAM_256_A_ADDR_BUS_01 R1
set_io L_SRAM_256_A_ADDR_BUS_02 P2
set_io L_SRAM_256_A_ADDR_BUS_03 P1
set_io L_SRAM_256_A_ADDR_BUS_04 N2
set_io L_SRAM_256_A_ADDR_BUS_05 M2
set_io L_SRAM_256_A_ADDR_BUS_06 F1
set_io L_SRAM_256_A_ADDR_BUS_07 F2
set_io L_SRAM_256_A_ADDR_BUS_08 E2
set_io L_SRAM_256_A_ADDR_BUS_09 D1
set_io L_SRAM_256_A_ADDR_BUS_10 D2
set_io L_SRAM_256_A_ADDR_BUS_11 A6
set_io L_SRAM_256_A_ADDR_BUS_12 B6
set_io L_SRAM_256_A_ADDR_BUS_13 A5
set_io L_SRAM_256_A_ADDR_BUS_14 B5
set_io L_SRAM_256_A_ADDR_BUS_15 B4
set_io L_SRAM_256_A_ADDR_BUS_16 B1
set_io L_SRAM_256_A_ADDR_BUS_17 C2
set_io L_SRAM_256_A_ADDR_BUS_18 C1

set_io L_SRAM_256_A_ADDR_BUS[0] R1
set_io L_SRAM_256_A_ADDR_BUS[1] P2
set_io L_SRAM_256_A_ADDR_BUS[2] P1
set_io L_SRAM_256_A_ADDR_BUS[3] N2
set_io L_SRAM_256_A_ADDR_BUS[4] M2
set_io L_SRAM_256_A_ADDR_BUS[5] F1
set_io L_SRAM_256_A_ADDR_BUS[6] F2
set_io L_SRAM_256_A_ADDR_BUS[7] E2
set_io L_SRAM_256_A_ADDR_BUS[8] D1
set_io L_SRAM_256_A_ADDR_BUS[9] D2
set_io L_SRAM_256_A_ADDR_BUS[10] A6
set_io L_SRAM_256_A_ADDR_BUS[11] B6
set_io L_SRAM_256_A_ADDR_BUS[12] A5
set_io L_SRAM_256_A_ADDR_BUS[13] B5
set_io L_SRAM_256_A_ADDR_BUS[14] B4
set_io L_SRAM_256_A_ADDR_BUS[15] B1
set_io L_SRAM_256_A_ADDR_BUS[16] C2
set_io L_SRAM_256_A_ADDR_BUS[17] C1

set_io L_SRAM_256_A_DATA_BUS_01 M1
set_io L_SRAM_256_A_DATA_BUS_02 L1
set_io L_SRAM_256_A_DATA_BUS_03 K1
set_io L_SRAM_256_A_DATA_BUS_04 J2
set_io L_SRAM_256_A_DATA_BUS_05 J1
set_io L_SRAM_256_A_DATA_BUS_06 H2
set_io L_SRAM_256_A_DATA_BUS_07 H1
set_io L_SRAM_256_A_DATA_BUS_08 G2
set_io L_SRAM_256_A_DATA_BUS_09 B3
set_io L_SRAM_256_A_DATA_BUS_10 A2
set_io L_SRAM_256_A_DATA_BUS_11 A1
set_io L_SRAM_256_A_DATA_BUS_12 B2

set_io L_SRAM_256_A_DATA_BUS[0] M1
set_io L_SRAM_256_A_DATA_BUS[1] L1
set_io L_SRAM_256_A_DATA_BUS[2] K1
set_io L_SRAM_256_A_DATA_BUS[3] J2
set_io L_SRAM_256_A_DATA_BUS[4] J1
set_io L_SRAM_256_A_DATA_BUS[5] H2
set_io L_SRAM_256_A_DATA_BUS[6] H1
set_io L_SRAM_256_A_DATA_BUS[7] G2
set_io L_SRAM_256_A_DATA_BUS[8] B3
set_io L_SRAM_256_A_DATA_BUS[9] A2
set_io L_SRAM_256_A_DATA_BUS[10] A1
set_io L_SRAM_256_A_DATA_BUS[11] B2

set_io L_SRAM_256_B_OE_N D9
set_io L_SRAM_256_B_WE_N A15

set_io L_SRAM_256_B_ADDR_BUS_01 B7
set_io L_SRAM_256_B_ADDR_BUS_02 A7
set_io L_SRAM_256_B_ADDR_BUS_03 B8
set_io L_SRAM_256_B_ADDR_BUS_04 B9
set_io L_SRAM_256_B_ADDR_BUS_05 A9
set_io L_SRAM_256_B_ADDR_BUS_06 B15
set_io L_SRAM_256_B_ADDR_BUS_07 A16
set_io L_SRAM_256_B_ADDR_BUS_08 E10
set_io L_SRAM_256_B_ADDR_BUS_09 E11
set_io L_SRAM_256_B_ADDR_BUS_10 F9
set_io L_SRAM_256_B_ADDR_BUS_11 E9
set_io L_SRAM_256_B_ADDR_BUS_12 C14
set_io L_SRAM_256_B_ADDR_BUS_13 D13
set_io L_SRAM_256_B_ADDR_BUS_14 C12
set_io L_SRAM_256_B_ADDR_BUS_15 C11
set_io L_SRAM_256_B_ADDR_BUS_16 C8
set_io L_SRAM_256_B_ADDR_BUS_17 D8
set_io L_SRAM_256_B_ADDR_BUS_18 C7

set_io L_SRAM_256_B_ADDR_BUS[0] B7
set_io L_SRAM_256_B_ADDR_BUS[1] A7
set_io L_SRAM_256_B_ADDR_BUS[2] B8
set_io L_SRAM_256_B_ADDR_BUS[3] B9
set_io L_SRAM_256_B_ADDR_BUS[4] A9
set_io L_SRAM_256_B_ADDR_BUS[5] B15
set_io L_SRAM_256_B_ADDR_BUS[6] A16
set_io L_SRAM_256_B_ADDR_BUS[7] E10
set_io L_SRAM_256_B_ADDR_BUS[8] E11
set_io L_SRAM_256_B_ADDR_BUS[9] F9
set_io L_SRAM_256_B_ADDR_BUS[10] E9
set_io L_SRAM_256_B_ADDR_BUS[11] C14
set_io L_SRAM_256_B_ADDR_BUS[12] D13
set_io L_SRAM_256_B_ADDR_BUS[13] C12
set_io L_SRAM_256_B_ADDR_BUS[14] C11
set_io L_SRAM_256_B_ADDR_BUS[15] C8
set_io L_SRAM_256_B_ADDR_BUS[16] D8
set_io L_SRAM_256_B_ADDR_BUS[17] C7

set_io L_SRAM_256_B_DATA_BUS_01 B10
set_io L_SRAM_256_B_DATA_BUS_02 A10
set_io L_SRAM_256_B_DATA_BUS_03 B11
set_io L_SRAM_256_B_DATA_BUS_04 A11
set_io L_SRAM_256_B_DATA_BUS_05 B12
set_io L_SRAM_256_B_DATA_BUS_06 B13
set_io L_SRAM_256_B_DATA_BUS_07 C13
set_io L_SRAM_256_B_DATA_BUS_08 B14
set_io L_SRAM_256_B_DATA_BUS_09 D11
set_io L_SRAM_256_B_DATA_BUS_10 C10
set_io L_SRAM_256_B_DATA_BUS_11 D10
set_io L_SRAM_256_B_DATA_BUS_12 C9

set_io L_SRAM_256_B_DATA_BUS[0] B10
set_io L_SRAM_256_B_DATA_BUS[1] A10
set_io L_SRAM_256_B_DATA_BUS[2] B11
set_io L_SRAM_256_B_DATA_BUS[3] A11
set_io L_SRAM_256_B_DATA_BUS[4] B12
set_io L_SRAM_256_B_DATA_BUS[5] B13
set_io L_SRAM_256_B_DATA_BUS[6] C13
set_io L_SRAM_256_B_DATA_BUS[7] B14
set_io L_SRAM_256_B_DATA_BUS[8] D11
set_io L_SRAM_256_B_DATA_BUS[9] C10
set_io L_SRAM_256_B_DATA_BUS[10] D10
set_io L_SRAM_256_B_DATA_BUS[11] C9

set_io R_A_01 B16
set_io R_A_02 C16
set_io R_A_03 D16
set_io R_A_04 E16
set_io R_A_05 D14
set_io R_A_06 D15
set_io R_A_07 F12
set_io R_A_08 F16

set_io R_A[0] B16
set_io R_A[1] C16
set_io R_A[2] D16
set_io R_A[3] E16
set_io R_A[4] D14
set_io R_A[5] D15
set_io R_A[6] F12
set_io R_A[7] F16

set_io R_B_01 F15
set_io R_B_02 G15
set_io R_B_03 H12
set_io R_B_04 J15
set_io R_B_05 G16
set_io R_B_06 H16
set_io R_B_07 J16
set_io R_B_08 K16

set_io R_B[0] F15
set_io R_B[1] G15
set_io R_B[2] H12
set_io R_B[3] J15
set_io R_B[4] G16
set_io R_B[5] H16
set_io R_B[6] J16
set_io R_B[7] K16

set_io R_C_01 K15
set_io R_C_02 L12
set_io R_C_03 M15
set_io R_C_04 M12
set_io R_C_05 L16
set_io R_C_06 M16
set_io R_C_07 N16
set_io R_C_08 P16

set_io R_C[0] K15
set_io R_C[1] L12
set_io R_C[2] M15
set_io R_C[3] M12
set_io R_C[4] L16
set_io R_C[5] M16
set_io R_C[6] N16
set_io R_C[7] P16

set_io R_D_01 P15
set_io R_D_02 M11
set_io R_D_03 T15
set_io R_D_04 T14
set_io R_D_05 R16
set_io R_D_06 T16
set_io R_D_07 R15
set_io R_D_08 R14

set_io R_D[0] P15
set_io R_D[1] M11
set_io R_D[2] T15
set_io R_D[3] T14
set_io R_D[4] R16
set_io R_D[5] T16
set_io R_D[6] R15
set_io R_D[7] R14

set_io R_E_01 E13
set_io R_E_02 F11
set_io R_E_03 F14
set_io R_E_04 G14
set_io R_E_05 E14
set_io R_E_06 F13
set_io R_E_07 G13
set_io R_E_08 H13

set_io R_E[0] E13
set_io R_E[1] F11
set_io R_E[2] F14
set_io R_E[3] G14
set_io R_E[4] E14
set_io R_E[5] F13
set_io R_E[6] G13
set_io R_E[7] H13

set_io R_F_01 H14
set_io R_F_02 J14
set_io R_F_03 K14
set_io R_F_04 L14
set_io R_F_05 J13
set_io R_F_06 K13
set_io R_F_07 L13
set_io R_F_08 M13

set_io R_F[0] H14
set_io R_F[1] J14
set_io R_F[2] K14
set_io R_F[3] L14
set_io R_F[4] J13
set_io R_F[5] K13
set_io R_F[6] L13
set_io R_F[7] M13

set_io R_G_01 M8
set_io R_G_02 R10
set_io R_G_03 R9
set_io R_G_04 P8
set_io R_G_05 T10
set_io R_G_06 T9
set_io R_G_07 T8
set_io R_G_08 T7

set_io R_G[0] M8
set_io R_G[1] R10
set_io R_G[2] R9
set_io R_G[3] P8
set_io R_G[4] T10
set_io R_G[5] T9
set_io R_G[6] T8
set_io R_G[7] T7

set_io R_H_01 T5
set_io R_H_02 R4
set_io R_H_03 R3
set_io R_H_04 R2
set_io R_H_05 R5
set_io R_H_06 T3
set_io R_H_07 T2
set_io R_H_08 T1

set_io R_H[0] T5
set_io R_H[1] R4
set_io R_H[2] R3
set_io R_H[3] R2
set_io R_H[4] R5
set_io R_H[5] T3
set_io R_H[6] T2
set_io R_H[7] T1

set_io R_I_01 N10
set_io R_I_02 N9
set_io R_I_03 T13
set_io R_I_04 T11
set_io R_I_05 P10
set_io R_I_06 P9
set_io R_I_07 L10
set_io R_I_08 N7

set_io R_I[0] N10
set_io R_I[1] N9
set_io R_I[2] T13
set_io R_I[3] T11
set_io R_I[4] P10
set_io R_I[5] P9
set_io R_I[6] L10
set_io R_I[7] N7

set_io R_J_01 M6
set_io R_J_02 M5
set_io R_J_03 N6
set_io R_J_04 L7
set_io R_J_05 K5
set_io R_J_06 M4
set_io R_J_07 M7
set_io R_J_08 L6

set_io R_J[0] M6
set_io R_J[1] M5
set_io R_J[2] N6
set_io R_J[3] L7
set_io R_J[4] K5
set_io R_J[5] M4
set_io R_J[6] M7
set_io R_J[7] L6

set_io R_K_01 R6
set_io R_K_02 P4
set_io R_K_03 P5
set_io R_K_04 P6
set_io R_K_05 T6
set_io R_K_06 N4
set_io R_K_07 N5
set_io R_K_08 P7

set_io R_K[0] R6
set_io R_K[1] P4
set_io R_K[2] P5
set_io R_K[3] P6
set_io R_K[4] T6
set_io R_K[5] N4
set_io R_K[6] N5
set_io R_K[7] P7

set_io R_L_01 M9
set_io R_L_02 K9
set_io R_L_03 K12
set_io R_L_04 P14
set_io R_L_05 L9
set_io R_L_06 L11
set_io R_L_07 N12
set_io R_L_08 M14

set_io R_L[0] M9
set_io R_L[1] K9
set_io R_L[2] K12
set_io R_L[3] P14
set_io R_L[4] L9
set_io R_L[5] L11
set_io R_L[6] N12
set_io R_L[7] M14

set_io R_PMOD_A[0] B16
set_io R_PMOD_A[1] C16
set_io R_PMOD_A[2] D16
set_io R_PMOD_A[3] E16
set_io R_PMOD_A[4] D14
set_io R_PMOD_A[5] D15
set_io R_PMOD_A[6] F12
set_io R_PMOD_A[7] F16

set_io R_PMOD_B[0] F15
set_io R_PMOD_B[1] G15
set_io R_PMOD_B[2] H12
set_io R_PMOD_B[3] J15
set_io R_PMOD_B[4] G16
set_io R_PMOD_B[5] H16
set_io R_PMOD_B[6] J16
set_io R_PMOD_B[7] K16

set_io R_PMOD_C[0] K15
set_io R_PMOD_C[1] L12
set_io R_PMOD_C[2] M15
set_io R_PMOD_C[3] M12
set_io R_PMOD_C[4] L16
set_io R_PMOD_C[5] M16
set_io R_PMOD_C[6] N16
set_io R_PMOD_C[7] P16

set_io R_PMOD_D[0] P15
set_io R_PMOD_D[1] M11
set_io R_PMOD_D[2] T15
set_io R_PMOD_D[3] T14
set_io R_PMOD_D[4] R16
set_io R_PMOD_D[5] T16
set_io R_PMOD_D[6] R15
set_io R_PMOD_D[7] R14

set_io R_PMOD_E[0] E13
set_io R_PMOD_E[1] F11
set_io R_PMOD_E[2] F14
set_io R_PMOD_E[3] G14
set_io R_PMOD_E[4] E14
set_io R_PMOD_E[5] F13
set_io R_PMOD_E[6] G13
set_io R_PMOD_E[7] H13

set_io R_PMOD_F[0] H14
set_io R_PMOD_F[1] J14
set_io R_PMOD_F[2] K14
set_io R_PMOD_F[3] L14
set_io R_PMOD_F[4] J13
set_io R_PMOD_F[5] K13
set_io R_PMOD_F[6] L13
set_io R_PMOD_F[7] M13

set_io R_PMOD_G[0] M8
set_io R_PMOD_G[1] R10
set_io R_PMOD_G[2] R9
set_io R_PMOD_G[3] P8
set_io R_PMOD_G[4] T10
set_io R_PMOD_G[5] T9
set_io R_PMOD_G[6] T8
set_io R_PMOD_G[7] T7

set_io R_PMOD_H[0] T5
set_io R_PMOD_H[1] R4
set_io R_PMOD_H[2] R3
set_io R_PMOD_H[3] R2
set_io R_PMOD_H[4] R5
set_io R_PMOD_H[5] T3
set_io R_PMOD_H[6] T2
set_io R_PMOD_H[7] T1

set_io R_PMOD_I[0] N10
set_io R_PMOD_I[1] N9
set_io R_PMOD_I[2] T13
set_io R_PMOD_I[3] T11
set_io R_PMOD_I[4] P10
set_io R_PMOD_I[5] P9
set_io R_PMOD_I[6] L10
set_io R_PMOD_I[7] N7

set_io R_PMOD_J[0] M6
set_io R_PMOD_J[1] M5
set_io R_PMOD_J[2] N6
set_io R_PMOD_J[3] L7
set_io R_PMOD_J[4] K5
set_io R_PMOD_J[5] M4
set_io R_PMOD_J[6] M7
set_io R_PMOD_J[7] L6

set_io R_PMOD_K[0] R6
set_io R_PMOD_K[1] P4
set_io R_PMOD_K[2] P5
set_io R_PMOD_K[3] P6
set_io R_PMOD_K[4] T6
set_io R_PMOD_K[5] N4
set_io R_PMOD_K[6] N5
set_io R_PMOD_K[7] P7

set_io R_PMOD_L[0] M9
set_io R_PMOD_L[1] K9
set_io R_PMOD_L[2] K12
set_io R_PMOD_L[3] P14
set_io R_PMOD_L[4] L9
set_io R_PMOD_L[5] L11
set_io R_PMOD_L[6] N12
set_io R_PMOD_L[7] M14

set_io R_PMOD[0] B16
set_io R_PMOD[1] C16
set_io R_PMOD[2] D16
set_io R_PMOD[3] E16
set_io R_PMOD[4] D14
set_io R_PMOD[5] D15
set_io R_PMOD[6] F12
set_io R_PMOD[7] F16
set_io R_PMOD[8] F15
set_io R_PMOD[9] G15
set_io R_PMOD[10] H12
set_io R_PMOD[11] J15
set_io R_PMOD[12] G16
set_io R_PMOD[13] H16
set_io R_PMOD[14] J16
set_io R_PMOD[15] K16
set_io R_PMOD[16] K15
set_io R_PMOD[17] L12
set_io R_PMOD[18] M15
set_io R_PMOD[19] M12
set_io R_PMOD[20] L16
set_io R_PMOD[21] M16
set_io R_PMOD[22] N16
set_io R_PMOD[23] P16
set_io R_PMOD[24] P15
set_io R_PMOD[25] M11
set_io R_PMOD[26] T15
set_io R_PMOD[27] T14
set_io R_PMOD[28] R16
set_io R_PMOD[29] T16
set_io R_PMOD[30] R15
set_io R_PMOD[31] R14
set_io R_PMOD[32] E13
set_io R_PMOD[33] F11
set_io R_PMOD[34] F14
set_io R_PMOD[35] G14
set_io R_PMOD[36] E14
set_io R_PMOD[37] F13
set_io R_PMOD[38] G13
set_io R_PMOD[39] H13
set_io R_PMOD[40] H14
set_io R_PMOD[41] J14
set_io R_PMOD[42] K14
set_io R_PMOD[43] L14
set_io R_PMOD[44] J13
set_io R_PMOD[45] K13
set_io R_PMOD[46] L13
set_io R_PMOD[47] M13
set_io R_PMOD[48] M8
set_io R_PMOD[49] R10
set_io R_PMOD[50] R9
set_io R_PMOD[51] P8
set_io R_PMOD[52] T10
set_io R_PMOD[53] T9
set_io R_PMOD[54] T8
set_io R_PMOD[55] T7
set_io R_PMOD[56] T5
set_io R_PMOD[57] R4
set_io R_PMOD[58] R3
set_io R_PMOD[59] R2
set_io R_PMOD[60] R5
set_io R_PMOD[61] T3
set_io R_PMOD[62] T2
set_io R_PMOD[63] T1
set_io R_PMOD[64] N10
set_io R_PMOD[65] N9
set_io R_PMOD[66] T13
set_io R_PMOD[67] T11
set_io R_PMOD[68] P10
set_io R_PMOD[69] P9
set_io R_PMOD[70] L10
set_io R_PMOD[71] N7
set_io R_PMOD[72] M6
set_io R_PMOD[73] M5
set_io R_PMOD[74] N6
set_io R_PMOD[75] L7
set_io R_PMOD[76] K5
set_io R_PMOD[77] M4
set_io R_PMOD[78] M7
set_io R_PMOD[79] L6
set_io R_PMOD[80] R6
set_io R_PMOD[81] P4
set_io R_PMOD[82] P5
set_io R_PMOD[83] P6
set_io R_PMOD[84] T6
set_io R_PMOD[85] N4
set_io R_PMOD[86] N5
set_io R_PMOD[87] P7
set_io R_PMOD[88] M9
set_io R_PMOD[89] K9
set_io R_PMOD[90] K12
set_io R_PMOD[91] P14
set_io R_PMOD[92] L9
set_io R_PMOD[93] L11
set_io R_PMOD[94] N12
set_io R_PMOD[95] M14

set_io R_ADC_CLK_TO_ADC K9
set_io R_ADC_CLK_TO_FPGA L11
set_io R_ADC_RED N10
set_io R_ADC_GRN M9
set_io R_ADC_BLU L9

set_io R_ADC_X_01 L13
set_io R_ADC_X_02 K14
set_io R_ADC_X_03 E13
set_io R_ADC_X_04 E14
set_io R_ADC_X_05 F11
set_io R_ADC_X_06 F13
set_io R_ADC_X_07 G13
set_io R_ADC_X_08 F14
set_io R_ADC_X_09 H13
set_io R_ADC_X_10 G14

set_io R_ADC_X[0] L13
set_io R_ADC_X[1] K14
set_io R_ADC_X[2] E13
set_io R_ADC_X[3] E14
set_io R_ADC_X[4] F11
set_io R_ADC_X[5] F13
set_io R_ADC_X[6] G13
set_io R_ADC_X[7] F14
set_io R_ADC_X[8] H13
set_io R_ADC_X[9] G14

set_io R_ADC_Y_01 J13
set_io R_ADC_Y_02 H14
set_io R_ADC_Y_03 K13
set_io R_ADC_Y_04 J14
set_io R_ADC_Y_05 L14
set_io R_ADC_Y_06 M13
set_io R_ADC_Y_07 M14
set_io R_ADC_Y_08 P14
set_io R_ADC_Y_09 N12
set_io R_ADC_Y_10 K12

set_io R_ADC_Y[0] J13
set_io R_ADC_Y[1] H14
set_io R_ADC_Y[2] K13
set_io R_ADC_Y[3] J14
set_io R_ADC_Y[4] L14
set_io R_ADC_Y[5] M13
set_io R_ADC_Y[6] M14
set_io R_ADC_Y[7] P14
set_io R_ADC_Y[8] N12
set_io R_ADC_Y[9] K12

set_io R_SRAM_CS_N P15
set_io R_SRAM_OE_N D16
set_io R_SRAM_WE_N T10

set_io R_SRAM_ADDR_BUS_01 P16
set_io R_SRAM_ADDR_BUS_02 M12
set_io R_SRAM_ADDR_BUS_03 N16
set_io R_SRAM_ADDR_BUS_04 M15
set_io R_SRAM_ADDR_BUS_05 M16
set_io R_SRAM_ADDR_BUS_06 B16
set_io R_SRAM_ADDR_BUS_07 D14
set_io R_SRAM_ADDR_BUS_08 C16
set_io R_SRAM_ADDR_BUS_09 D15
set_io R_SRAM_ADDR_BUS_10 J16
set_io R_SRAM_ADDR_BUS_11 J15
set_io R_SRAM_ADDR_BUS_12 K16
set_io R_SRAM_ADDR_BUS_13 K15
set_io R_SRAM_ADDR_BUS_14 L16
set_io R_SRAM_ADDR_BUS_15 L12
set_io R_SRAM_ADDR_BUS_16 P8
set_io R_SRAM_ADDR_BUS_17 T8
set_io R_SRAM_ADDR_BUS_18 R9
set_io R_SRAM_ADDR_BUS_19 T9
set_io R_SRAM_ADDR_BUS_20 R10

set_io R_SRAM_ADDR_BUS[0] P16
set_io R_SRAM_ADDR_BUS[1] M12
set_io R_SRAM_ADDR_BUS[2] N16
set_io R_SRAM_ADDR_BUS[3] M15
set_io R_SRAM_ADDR_BUS[4] M16
set_io R_SRAM_ADDR_BUS[5] B16
set_io R_SRAM_ADDR_BUS[6] D14
set_io R_SRAM_ADDR_BUS[7] C16
set_io R_SRAM_ADDR_BUS[8] D15
set_io R_SRAM_ADDR_BUS[9] J16
set_io R_SRAM_ADDR_BUS[10] J15
set_io R_SRAM_ADDR_BUS[11] K16
set_io R_SRAM_ADDR_BUS[12] K15
set_io R_SRAM_ADDR_BUS[13] L16
set_io R_SRAM_ADDR_BUS[14] L12
set_io R_SRAM_ADDR_BUS[15] P8
set_io R_SRAM_ADDR_BUS[16] T8
set_io R_SRAM_ADDR_BUS[17] R9
set_io R_SRAM_ADDR_BUS[18] T9
set_io R_SRAM_ADDR_BUS[19] R10

set_io R_SRAM_DATA_BUS_01 R16
set_io R_SRAM_DATA_BUS_02 M11
set_io R_SRAM_DATA_BUS_03 T16
set_io R_SRAM_DATA_BUS_04 T15
set_io R_SRAM_DATA_BUS_05 R15
set_io R_SRAM_DATA_BUS_06 T14
set_io R_SRAM_DATA_BUS_07 R14
set_io R_SRAM_DATA_BUS_08 M8
set_io R_SRAM_DATA_BUS_09 H12
set_io R_SRAM_DATA_BUS_10 H16
set_io R_SRAM_DATA_BUS_11 G15
set_io R_SRAM_DATA_BUS_12 G16
set_io R_SRAM_DATA_BUS_13 F15
set_io R_SRAM_DATA_BUS_14 F16
set_io R_SRAM_DATA_BUS_15 E16
set_io R_SRAM_DATA_BUS_16 F12

set_io R_SRAM_DATA_BUS[0] R16
set_io R_SRAM_DATA_BUS[1] M11
set_io R_SRAM_DATA_BUS[2] T16
set_io R_SRAM_DATA_BUS[3] T15
set_io R_SRAM_DATA_BUS[4] R15
set_io R_SRAM_DATA_BUS[5] T14
set_io R_SRAM_DATA_BUS[6] R14
set_io R_SRAM_DATA_BUS[7] M8
set_io R_SRAM_DATA_BUS[8] H12
set_io R_SRAM_DATA_BUS[9] H16
set_io R_SRAM_DATA_BUS[10] G15
set_io R_SRAM_DATA_BUS[11] G16
set_io R_SRAM_DATA_BUS[12] F15
set_io R_SRAM_DATA_BUS[13] F16
set_io R_SRAM_DATA_BUS[14] E16
set_io R_SRAM_DATA_BUS[15] F12

set_io R_SRAM_256_A_OE_N M12
set_io R_SRAM_256_A_WE_N J16

set_io R_SRAM_256_A_ADDR_BUS_01 B16
set_io R_SRAM_256_A_ADDR_BUS_02 D14
set_io R_SRAM_256_A_ADDR_BUS_03 C16
set_io R_SRAM_256_A_ADDR_BUS_04 D15
set_io R_SRAM_256_A_ADDR_BUS_05 D16
set_io R_SRAM_256_A_ADDR_BUS_06 J15
set_io R_SRAM_256_A_ADDR_BUS_07 K16
set_io R_SRAM_256_A_ADDR_BUS_08 K15
set_io R_SRAM_256_A_ADDR_BUS_09 L16
set_io R_SRAM_256_A_ADDR_BUS_10 L12
set_io R_SRAM_256_A_ADDR_BUS_11 R14
set_io R_SRAM_256_A_ADDR_BUS_12 T14
set_io R_SRAM_256_A_ADDR_BUS_13 R15
set_io R_SRAM_256_A_ADDR_BUS_14 T15
set_io R_SRAM_256_A_ADDR_BUS_15 T16
set_io R_SRAM_256_A_ADDR_BUS_16 N16
set_io R_SRAM_256_A_ADDR_BUS_17 M15
set_io R_SRAM_256_A_ADDR_BUS_18 M16

set_io R_SRAM_256_A_ADDR_BUS[0] B16
set_io R_SRAM_256_A_ADDR_BUS[1] D14
set_io R_SRAM_256_A_ADDR_BUS[2] C16
set_io R_SRAM_256_A_ADDR_BUS[3] D15
set_io R_SRAM_256_A_ADDR_BUS[4] D16
set_io R_SRAM_256_A_ADDR_BUS[5] J15
set_io R_SRAM_256_A_ADDR_BUS[6] K16
set_io R_SRAM_256_A_ADDR_BUS[7] K15
set_io R_SRAM_256_A_ADDR_BUS[8] L16
set_io R_SRAM_256_A_ADDR_BUS[9] L12
set_io R_SRAM_256_A_ADDR_BUS[10] R14
set_io R_SRAM_256_A_ADDR_BUS[11] T14
set_io R_SRAM_256_A_ADDR_BUS[12] R15
set_io R_SRAM_256_A_ADDR_BUS[13] T15
set_io R_SRAM_256_A_ADDR_BUS[14] T16
set_io R_SRAM_256_A_ADDR_BUS[15] N16
set_io R_SRAM_256_A_ADDR_BUS[16] M15
set_io R_SRAM_256_A_ADDR_BUS[17] M16

set_io R_SRAM_256_A_DATA_BUS_01 F12
set_io R_SRAM_256_A_DATA_BUS_02 E16
set_io R_SRAM_256_A_DATA_BUS_03 F16
set_io R_SRAM_256_A_DATA_BUS_04 F15
set_io R_SRAM_256_A_DATA_BUS_05 G16
set_io R_SRAM_256_A_DATA_BUS_06 G15
set_io R_SRAM_256_A_DATA_BUS_07 H16
set_io R_SRAM_256_A_DATA_BUS_08 H12
set_io R_SRAM_256_A_DATA_BUS_09 M11
set_io R_SRAM_256_A_DATA_BUS_10 R16
set_io R_SRAM_256_A_DATA_BUS_11 P15
set_io R_SRAM_256_A_DATA_BUS_12 P16

set_io R_SRAM_256_A_DATA_BUS[0] F12
set_io R_SRAM_256_A_DATA_BUS[1] E16
set_io R_SRAM_256_A_DATA_BUS[2] F16
set_io R_SRAM_256_A_DATA_BUS[3] F15
set_io R_SRAM_256_A_DATA_BUS[4] G16
set_io R_SRAM_256_A_DATA_BUS[5] G15
set_io R_SRAM_256_A_DATA_BUS[6] H16
set_io R_SRAM_256_A_DATA_BUS[7] H12
set_io R_SRAM_256_A_DATA_BUS[8] M11
set_io R_SRAM_256_A_DATA_BUS[9] R16
set_io R_SRAM_256_A_DATA_BUS[10] P15
set_io R_SRAM_256_A_DATA_BUS[11] P16

set_io R_SRAM_256_B_OE_N P5
set_io R_SRAM_256_B_WE_N T2

set_io R_SRAM_256_B_ADDR_BUS_01 M8
set_io R_SRAM_256_B_ADDR_BUS_02 T10
set_io R_SRAM_256_B_ADDR_BUS_03 R10
set_io R_SRAM_256_B_ADDR_BUS_04 T9
set_io R_SRAM_256_B_ADDR_BUS_05 R9
set_io R_SRAM_256_B_ADDR_BUS_06 R2
set_io R_SRAM_256_B_ADDR_BUS_07 T1
set_io R_SRAM_256_B_ADDR_BUS_08 M7
set_io R_SRAM_256_B_ADDR_BUS_09 L7
set_io R_SRAM_256_B_ADDR_BUS_10 L6
set_io R_SRAM_256_B_ADDR_BUS_11 N6
set_io R_SRAM_256_B_ADDR_BUS_12 M4
set_io R_SRAM_256_B_ADDR_BUS_13 M5
set_io R_SRAM_256_B_ADDR_BUS_14 K5
set_io R_SRAM_256_B_ADDR_BUS_15 M6
set_io R_SRAM_256_B_ADDR_BUS_16 N5
set_io R_SRAM_256_B_ADDR_BUS_17 P6
set_io R_SRAM_256_B_ADDR_BUS_18 P7

set_io R_SRAM_256_B_ADDR_BUS[0] M8
set_io R_SRAM_256_B_ADDR_BUS[1] T10
set_io R_SRAM_256_B_ADDR_BUS[2] R10
set_io R_SRAM_256_B_ADDR_BUS[3] T9
set_io R_SRAM_256_B_ADDR_BUS[4] R9
set_io R_SRAM_256_B_ADDR_BUS[5] R2
set_io R_SRAM_256_B_ADDR_BUS[6] T1
set_io R_SRAM_256_B_ADDR_BUS[7] M7
set_io R_SRAM_256_B_ADDR_BUS[8] L7
set_io R_SRAM_256_B_ADDR_BUS[9] L6
set_io R_SRAM_256_B_ADDR_BUS[10] N6
set_io R_SRAM_256_B_ADDR_BUS[11] M4
set_io R_SRAM_256_B_ADDR_BUS[12] M5
set_io R_SRAM_256_B_ADDR_BUS[13] K5
set_io R_SRAM_256_B_ADDR_BUS[14] M6
set_io R_SRAM_256_B_ADDR_BUS[15] N5
set_io R_SRAM_256_B_ADDR_BUS[16] P6
set_io R_SRAM_256_B_ADDR_BUS[17] P7

set_io R_SRAM_256_B_DATA_BUS_01 T8
set_io R_SRAM_256_B_DATA_BUS_02 P8
set_io R_SRAM_256_B_DATA_BUS_03 T7
set_io R_SRAM_256_B_DATA_BUS_04 T5
set_io R_SRAM_256_B_DATA_BUS_05 R5
set_io R_SRAM_256_B_DATA_BUS_06 R4
set_io R_SRAM_256_B_DATA_BUS_07 T3
set_io R_SRAM_256_B_DATA_BUS_08 R3
set_io R_SRAM_256_B_DATA_BUS_09 R6
set_io R_SRAM_256_B_DATA_BUS_10 T6
set_io R_SRAM_256_B_DATA_BUS_11 P4
set_io R_SRAM_256_B_DATA_BUS_12 N4

set_io R_SRAM_256_B_DATA_BUS[0] T8
set_io R_SRAM_256_B_DATA_BUS[1] P8
set_io R_SRAM_256_B_DATA_BUS[2] T7
set_io R_SRAM_256_B_DATA_BUS[3] T5
set_io R_SRAM_256_B_DATA_BUS[4] R5
set_io R_SRAM_256_B_DATA_BUS[5] R4
set_io R_SRAM_256_B_DATA_BUS[6] T3
set_io R_SRAM_256_B_DATA_BUS[7] R3
set_io R_SRAM_256_B_DATA_BUS[8] R6
set_io R_SRAM_256_B_DATA_BUS[9] T6
set_io R_SRAM_256_B_DATA_BUS[10] P4
set_io R_SRAM_256_B_DATA_BUS[11] N4

