set_io CLK J3
set_io LED1 H11
set_io LED2 G12
set_io UART_RX J12
set_io UART_TX J11

set_io SRAM_256_A_OE_N IOT_192
set_io SRAM_256_A_WE_N IOT_203
set_io SRAM_256_B_OE_N IOT_200
set_io SRAM_256_B_WE_N IOL_14B
set_io SRAM_256_C_OE_N IOR_157
set_io SRAM_256_C_WE_N IOR_118
set_io SRAM_256_D_OE_N IOB_56
set_io SRAM_256_D_WE_N IOL_17A

set_io SRAM_256_A_ADDR_BUS[0] IOT_176
set_io SRAM_256_A_ADDR_BUS[1] IOT_169
set_io SRAM_256_A_ADDR_BUS[2] IOT_177
set_io SRAM_256_A_ADDR_BUS[3] IOT_171
set_io SRAM_256_A_ADDR_BUS[4] IOT_174
set_io SRAM_256_A_ADDR_BUS[5] IOT_205
set_io SRAM_256_A_ADDR_BUS[6] IOT_207
set_io SRAM_256_A_ADDR_BUS[7] IOT_211
set_io SRAM_256_A_ADDR_BUS[8] IOT_208
set_io SRAM_256_A_ADDR_BUS[9] IOT_213
set_io SRAM_256_A_ADDR_BUS[10] IOL_1B
set_io SRAM_256_A_ADDR_BUS[11] IOT_220
set_io SRAM_256_A_ADDR_BUS[12] IOT_218
set_io SRAM_256_A_ADDR_BUS[13] IOT_223
set_io SRAM_256_A_ADDR_BUS[14] IOT_179
set_io SRAM_256_A_ADDR_BUS[15] IOT_173
set_io SRAM_256_A_ADDR_BUS[16] IOT_196
set_io SRAM_256_A_DATA_BUS[0] IOT_178
set_io SRAM_256_A_DATA_BUS[1] IOT_182
set_io SRAM_256_A_DATA_BUS[2] IOT_187
set_io SRAM_256_A_DATA_BUS[3] IOT_184
set_io SRAM_256_A_DATA_BUS[4] IOT_186
set_io SRAM_256_A_DATA_BUS[5] IOT_183
set_io SRAM_256_A_DATA_BUS[6] IOT_194
set_io SRAM_256_A_DATA_BUS[7] IOT_199
set_io SRAM_256_A_DATA_BUS[8] IOT_214
set_io SRAM_256_A_DATA_BUS[9] IOT_190
set_io SRAM_256_A_DATA_BUS[10] IOT_185
set_io SRAM_256_A_DATA_BUS[11] IOT_181
set_io SRAM_256_A_DATA_BUS[12] IOT_180
set_io SRAM_256_A_DATA_BUS[13] IOT_172
set_io SRAM_256_A_DATA_BUS[14] IOT_170
set_io SRAM_256_A_DATA_BUS[15] IOT_168
set_io SRAM_256_B_ADDR_BUS[0] IOT_198
set_io SRAM_256_B_ADDR_BUS[1] IOT_225
set_io SRAM_256_B_ADDR_BUS[2] IOT_215
set_io SRAM_256_B_ADDR_BUS[3] IOL_2B
set_io SRAM_256_B_ADDR_BUS[4] IOL_3B
set_io SRAM_256_B_ADDR_BUS[5] IOL_12B
set_io SRAM_256_B_ADDR_BUS[6] IOL_15B
set_io SRAM_256_B_ADDR_BUS[7] IOL_15A
set_io SRAM_256_B_ADDR_BUS[8] IOL_16A
set_io SRAM_256_B_ADDR_BUS[9] IOL_17B
set_io SRAM_256_B_ADDR_BUS[10] IOL_21B
set_io SRAM_256_B_ADDR_BUS[11] IOL_20B
set_io SRAM_256_B_ADDR_BUS[12] IOL_18B
set_io SRAM_256_B_ADDR_BUS[13] IOT_226
set_io SRAM_256_B_ADDR_BUS[14] IOT_227
set_io SRAM_256_B_ADDR_BUS[15] IOT_197
set_io SRAM_256_B_ADDR_BUS[16] IOT_193
set_io SRAM_256_B_ADDR_BUS[17] IOT_191
set_io SRAM_256_B_DATA_BUS[0] IOL_3A
set_io SRAM_256_B_DATA_BUS[1] IOL_4B
set_io SRAM_256_B_DATA_BUS[2] IOL_5B
set_io SRAM_256_B_DATA_BUS[3] IOL_7B
set_io SRAM_256_B_DATA_BUS[4] IOL_9B
set_io SRAM_256_B_DATA_BUS[5] IOL_10B
set_io SRAM_256_B_DATA_BUS[6] IOL_13B
set_io SRAM_256_B_DATA_BUS[7] IOL_11B
set_io SRAM_256_B_DATA_BUS[8] IOT_224
set_io SRAM_256_B_DATA_BUS[9] IOT_222
set_io SRAM_256_B_DATA_BUS[10] IOT_219
set_io SRAM_256_B_DATA_BUS[11] IOT_221
set_io SRAM_256_B_DATA_BUS[12] IOT_212
set_io SRAM_256_B_DATA_BUS[13] IOT_209
set_io SRAM_256_B_DATA_BUS[14] IOT_210
set_io SRAM_256_B_DATA_BUS[15] IOT_206
set_io SRAM_256_C_ADDR_BUS[0] IOR_166
set_io SRAM_256_C_ADDR_BUS[1] IOR_160
set_io SRAM_256_C_ADDR_BUS[2] IOR_158
set_io SRAM_256_C_ADDR_BUS[3] IOR_162
set_io SRAM_256_C_ADDR_BUS[4] IOR_155
set_io SRAM_256_C_ADDR_BUS[5] IOL_2A
set_io SRAM_256_C_ADDR_BUS[6] IOL_5A
set_io SRAM_256_C_ADDR_BUS[7] IOL_1A
set_io SRAM_256_C_ADDR_BUS[8] IOL_6B
set_io SRAM_256_C_ADDR_BUS[9] IOL_10A
set_io SRAM_256_C_ADDR_BUS[10] IOR_131
set_io SRAM_256_C_ADDR_BUS[11] IOR_133
set_io SRAM_256_C_ADDR_BUS[12] IOR_130
set_io SRAM_256_C_ADDR_BUS[13] IOR_138
set_io SRAM_256_C_ADDR_BUS[14] IOR_144
set_io SRAM_256_C_ADDR_BUS[15] IOR_161
set_io SRAM_256_C_ADDR_BUS[16] IOR_167
set_io SRAM_256_C_ADDR_BUS[17] IOR_165
set_io SRAM_256_C_DATA_BUS[0] IOR_152
set_io SRAM_256_C_DATA_BUS[1] IOR_150
set_io SRAM_256_C_DATA_BUS[2] IOR_139
set_io SRAM_256_C_DATA_BUS[3] IOR_142
set_io SRAM_256_C_DATA_BUS[4] IOR_137
set_io SRAM_256_C_DATA_BUS[5] IOR_134
set_io SRAM_256_C_DATA_BUS[6] IOR_128
set_io SRAM_256_C_DATA_BUS[7] IOR_129
set_io SRAM_256_C_DATA_BUS[8] IOR_141
set_io SRAM_256_C_DATA_BUS[9] IOR_145
set_io SRAM_256_C_DATA_BUS[10] IOR_143
set_io SRAM_256_C_DATA_BUS[11] IOR_149
set_io SRAM_256_C_DATA_BUS[12] IOR_147
set_io SRAM_256_C_DATA_BUS[13] IOR_151
set_io SRAM_256_C_DATA_BUS[14] IOR_156
set_io SRAM_256_C_DATA_BUS[15] IOR_153
set_io SRAM_256_D_ADDR_BUS[0] IOL_4A
set_io SRAM_256_D_ADDR_BUS[1] IOL_8B
set_io SRAM_256_D_ADDR_BUS[2] IOL_8A
set_io SRAM_256_D_ADDR_BUS[3] IOL_6A
set_io SRAM_256_D_ADDR_BUS[4] IOL_9A
set_io SRAM_256_D_ADDR_BUS[5] IOL_23A
set_io SRAM_256_D_ADDR_BUS[6] IOL_23B
set_io SRAM_256_D_ADDR_BUS[7] IOL_24A
set_io SRAM_256_D_ADDR_BUS[8] IOL_25A
set_io SRAM_256_D_ADDR_BUS[9] IOL_26A
set_io SRAM_256_D_ADDR_BUS[10] IOL_19A
set_io SRAM_256_D_ADDR_BUS[11] IOL_21A
set_io SRAM_256_D_ADDR_BUS[12] IOB_64
set_io SRAM_256_D_ADDR_BUS[13] IOB_52
set_io SRAM_256_D_ADDR_BUS[14] IOL_24B
set_io SRAM_256_D_ADDR_BUS[15] IOB_67
set_io SRAM_256_D_ADDR_BUS[16] IOB_77
set_io SRAM_256_D_ADDR_BUS[17] IOB_66
set_io SRAM_256_D_DATA_BUS[0] IOL_11A
set_io SRAM_256_D_DATA_BUS[1] IOL_12A
set_io SRAM_256_D_DATA_BUS[2] IOL_7A
set_io SRAM_256_D_DATA_BUS[3] IOL_13A
set_io SRAM_256_D_DATA_BUS[4] IOL_16B
set_io SRAM_256_D_DATA_BUS[5] IOL_18A
set_io SRAM_256_D_DATA_BUS[6] IOL_19B
set_io SRAM_256_D_DATA_BUS[7] IOL_22B
set_io SRAM_256_D_DATA_BUS[8] IOL_25B
set_io SRAM_256_D_DATA_BUS[9] IOL_20A
set_io SRAM_256_D_DATA_BUS[10] IOL_22A
set_io SRAM_256_D_DATA_BUS[11] IOB_71
set_io SRAM_256_D_DATA_BUS[12] IOB_73
set_io SRAM_256_D_DATA_BUS[13] IOB_54
set_io SRAM_256_D_DATA_BUS[14] IOL_26B
set_io SRAM_256_D_DATA_BUS[15] IOB_58
